#bag {
    width: 200px;
    height: 400px;
    margin: 30px auto;
    background: url(../img/bag.png) center no-repeat;
    background-size: 80%;
}

#bag.burst {
    background: url(../img/bag-burst.png) center no-repeat;
    background-size: 80%;
}

.bag-health {
    width: 200px;
    border: 2px solid #000;
    margin: 0 auto 30px;
}
.bag-health div {
    height: 20px;
    background-color: crimson;
}

.control {
    width: 150px;
    margin: 10px auto;
}